/* 
=============
Fonts
==============
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&family=Grandstander:wght@300;&display=swap');


/* 
=============
Variables
==============
*/

:root{
  --clr-primary: #278bea;
  --clr-primary-light: #9ed8f3;
  --clr-grey-1: #3f3f40;  
  --clr-grey-5: #9a9da0;  
  --clr-grey-10: #f1f5f8;
  --clr-white: #fff;
  --ff-primary: 'Roboto', sans-serif;
  --ff-secondary: 'Poppins', sans-serif;
  --ff-tertiary: 'Grandstander', cursive;;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
}

/* 
=============
Global styles
==============
*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: var(--ff-primary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
a{
  text-decoration: none;
}
li{
  list-style-type: none;
}
img{
  width: 100%;
  display: block;
}
h1,h2,h3,h4{
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1{
  font-size: 3rem;
}
h2{
  font-size: 2rem;
}
h3{
  font-size: 1.5rem;
}
h4{
  font-size: 0.875rem;
}
p{
  margin-bottom: 1.25rem;
}
@media screen and (min-width: 800px) {
  h1{
    font-size: 4rem;
  }
  h2{
    font-size: 2.5rem;
  }
  h3{
    font-size: 2rem;
  }
  h4{
    font-size: 1rem;
  }
  body{
    font-size: 1rem;
  }
  h1, h2,h3,h4{
    line-height: 1;
  }
}
/* More global css */
.btn{
  text-transform: uppercase;
  background: var(--clr-primary);
  color: var(--clr-white);
  padding: 0.5rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  transition: var(--transition);
  font-size: 00.875rem;
  border: none;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
}
.btn:hover{
  color: var(--clr-primary);
  background: var(--clr-grey-10);
}
.clearfix::before,
.clearfix::after{
content: "";
clear: both;
display: table;
}
.section-title h3{
  font-family: var(--ff-tertiary);
  color: var(--clr-primary);
}
.section-title{
  margin-bottom: 2rem;
}
.section-center{
  padding: 4rem 0;
  width: 85vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center{
    width: 95vw;
    padding: 4rem 1rem;
  }
}
/* 
=============
Header
==============
*/

.header{
  min-height: 100vh;
  background:linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../assets/bg-main.jpg") center/cover no-repeat fixed;
  position: relative;
}
.banner{
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.banner h2{
  font-family: var(--ff-tertiary);
  color: var(--clr-white);
  /* font-size: 2rem; */
  /* animation */
}
.banner h1{
  text-transform: uppercase;
  color: var(--clr-primary);
  margin: 1.25rem;
  /* animation */
}
.banner-btn{
  outline: 0.125rem solid var(--clr-primary);
  outline-offset: 0.25rem;
  font-size: 1.25rem;
  padding: 1rem 1.75rem;
  margin-top: 1.5rem;
  /* animation */
}
.banner-btn:hover{
  outline: 0.125rem solid var(--clr-white);
  outline-offset: 0.25rem;
}
.content-divider{
  height: 0.5rem;
  background: linear-gradient(to right, var(--clr-primary-light),var(--clr-grey-5),var(--clr-primary), var(--clr-grey-5), var(--clr-primary-light), var(--clr-grey-5),var(--clr-primary));
}

/* 
================
Features Section
================
*/

.features{
  background: var(--clr-grey-10);
}
.feature{
  padding: 2.5rem 0;
  text-align: center;
  transition: var(--transition);
}
.feature-icon{
  font-size: 2.5rem;
  margin-bottom: 1.25rem;
  transition: var(--transition);
  display: inline-block;
  color: var(--clr-primary);
}
.feature-text{
  color: var(--clr-grey-1);
  max-width: 17rem;
  margin: 0 auto;
}
.feature:hover{
  background: var(--clr-white);
  box-shadow: 0 2px var(--clr-primary);
}
.feature:hover .feature-icon{
  transform: translateY(-5px);
}
@media screen and (min-width: 576px) {
  .feature{
    float: left;
    width: 50%;
  }
}
@media screen and (min-width: 1200px) {
  .feature{
    width: 25%;
  }
}

/* 
================
About Section
================
*/
.about-img,
.about-info{
  padding: 2rem 0;
}
.about-picture-container{
  background: var(--clr-primary);
  border: 0.5rem solid var(--clr-primary);
  max-width: 25rem;
  /* extra style */
  overflow: hidden;
}
.about-picture{
  transition: var(--transition);
}
.about-picture-container:hover .about-picture{
  opacity: 0.5;
  transform: scale(1.2);
}
.about-text{
  max-width: 26rem;
  color: var(--clr-grey-1);
}
.about-info h3{
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
}
.about-info h2{
  font-size: 2.5rem;
}
.about-info a{
  margin-top: 1.25rem;
}
@media screen and (min-width: 992px) {
  .about-img,
  .about-info{
    float: left;
    width: 50%;
  }
}

/*
=============== 
Products
===============
*/
.products{
  background: var(--clr-grey-10);
}
.products-info,
.products-inventory{
padding: 2rem 0;
}
.product-text{
  color: var(--clr-grey-1);
}